# نادیده گرفتن تمام فایل‌ها و پوشه‌های پروژه به صورت پیش‌فرض
*

# استثنا کردن پوشه dist و تمام محتویات داخل آن
!/dist/
!/dist/**

# استثنا کردن خود فایل .gitignore (تا گیت تنظیمات را حفظ کند)
!.gitignore