@import "tailwindcss";

@theme {
  /* رنگ‌های اصلی */
  --color-rich-black: #021B1A;
  --color-dark-green: #032221;
  --color-bangladesh-green: #03624C;
  --color-mountain-meadow: #2CC295;
  --color-caribbean-green: #00DF81;
  --color-anti-flash-white: #F1F7F6;
  /* پالت رنگی دارک (دیفالت) */
  --color-rich-black: #021B1A;
  --color-dark-green: #032221;
  --color-bangladesh-green: #03624C;
  --color-mountain-meadow: #2CC295;
  --color-caribbean-green: #00DF81;
  --color-anti-flash-white: #F1F7F6;
  --color-pine: #06302B;
  --color-basil: #0B453A;
  --color-forest: #095544;
  --color-frog: #17876D;
  --color-mint: #2FA98C;
  --color-stone: #707D7D;
  --color-pistachio: #AACBC4;
  --color-bg-left: #003B2B;
  --color-bg-center: #004D39;
  --color-bg-right: #00E68A;
  /* رنگ‌های ثانویه */
  --color-pine: #06302B;
  --color-basil: #0B453A;
  --color-forest: #095544;
  --color-frog: #17876D;
  --color-mint: #2FA98C;
  --color-stone: #707D7D;
  --color-pistachio: #AACBC4;

  /* پس‌زمینه‌های خاص بخش بالایی */
  --color-bg-left: #003B2B;
  --color-bg-center: #004D39;
  --color-bg-right: #00E68A;
}

/* راست‌چین کردن کل پروژه برای زبان فارسی */
body {
  font-family: system-ui, -apple-system, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}